:root {
    --title-mode: white;
    --desc-mode: #D5D4D8;
    --bg-mode: #1F2937;
}

html {
    height: 100%;
    width: 90%;
}

body {
    width: 100%;
    margin: 0;
    height: 100%;
    background-color: var(--bg-mode);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}
.container {
    width: 90%;
}

.title {
    color: var(--title-mode);
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    line-height: 40px;
    margin: 0 0 10px 0;
}

#accent {
    color: #4ADF86;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    margin-bottom: 0;
}
.supporting-text {
    margin: 0;
    color: var(--desc-mode);
    font-size: 20px;
    line-height: 28px;
    font-family: inherit;
}
.btn {
    font-family: inherit;
    background-color: #10B981;
    padding: 9px 16px;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin-top: 51px;

}
#btn-el {
    font-family: inherit;
    background-color: #10B981;
    padding: 9px 16px;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin-top: 51px;
}

hr {
    color: #2F3E53;
    margin: 35px 0;
}
#length-picker {
    width: 10%;
    font-family: inherit;
    background-color: #10B981;
    padding: 9px 16px;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin-top: 51px;
}

#passwords {
    margin: 0;
    font-family: inherit;
    display: flex;
    justify-content: space-between;
}
.password {
    margin: 0;
    text-align: center;
    height: max-content;
    background-color: #273549;
    width: 42%;
    height: 30px;
}

.message {
    text-align: center;
    font-size: 15px;
}

#messages {
    display: flex;
    justify-content: space-around;
}

#message1 {
    color: transparent;
}

#message2 {
    color: transparent;
}